@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ffffff;
  --muted: #9ca3af;
  --accent: #8b5cf6;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  @apply text-base leading-relaxed antialiased;
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .text-muted {
    color: var(--muted);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .border-border {
    border-color: var(--border);
  }
}
